@{
    ViewBag.Title = "Angular Pop-up popup.cshtml";
    var param1 = ViewBag.Param1 ?? "";
    var param2 = ViewBag.Param2 ?? "";
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/styles.ef46db3751d8e999.css">
</head>

<body>
    <app-root>Loading...</app-root>
    <script src="~/runtime.be755858c66604d9.js" defer></script>
    <script src="~/polyfills.37d6495033fc876d.js" defer></script>


    <script src="~/main.f5b4511a8a12a640.js" defer></script>
    <script>
        // Pass parameters to Angular via global variables or directly into Angular's initial state
        window.initialParams = {
            param1: '@param1',
            param2: '@param2'
        };
    </script>
</body>

</html>
